//Open Sans Font
$open-sans-font-path:          "fonts/open-sans/";

//Use for auto-complete to prevent typos
$font-open-sans-bold: 'open_sansbold';
$font-open-sans-italic: 'open_sansbold_italic';
$font-open-sans-extrabold: 'open_sansextrabold';
$font-open-sans-extrabold-italic: 'open_sansextrabold_italic';
$font-open-sans-italic: 'open_sansitalic';
$font-open-sans-light: 'open_sanslight';
$font-open-sans-light-italic: 'open_sanslight_italic';
$font-open-sans-regular: 'open_sansregular';
$font-open-sans-semi-bold: 'open_sanssemibold';
$font-open-sans-semi-bold-italic: 'open_sanssemibold_italic';
